.idea
agent-center/agent-center
agent/agent
agent/.agent
agent/machine-id
agent-center/.agent-center
third/kafka/data
third/mongodb/data
manager/manager
manager/.manager
service/.service
service/service